th
{
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align:center;
    background-color:#F1F1F1;
    font-size:12px;
    font-family:'Salesforce Sans', Arial, sans-serif;
    height:40px;
   
}
td 
{
    border-bottom: 1px solid #ddd;
    text-align:center;
    font-family:'Salesforce Sans', Arial, sans-serif;
    font-size:10px;
    padding: 1px;
}
tr:hover 
{
    background-color: #d8edff;
}
.anchor
{
  color: black;
  text-decoration:underline;
}
a:visited 
{
  color: black;
  text-decoration:underline;
}
a:active
{
    color:black;
}
a:hover {
  color: blue;
}
.slds-card__footer-action
{
    text-decoration: none;
    color: blue;
}
lightning-card{
  width: 100%;
}
.action
{
  width: 65px;
}
